
        body {
            font-family: 'Trirong', serif;
        }

        h1 {
            font-family: 'Audiowide', cursive;
            text-align: center;
            color: #343a40;
        }

        label, input, button {
            font-family: 'Trirong', serif;
        }

        #bmiResult {
            font-family: 'Sofia', cursive;
            font-size: 1.3rem;
            font-weight: bold;
        }
